.postBlock {
    padding: 10px;
}
.posts {
    margin-top: 10px;
}
.btn {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    &:hover {
        background-color: #e7e7e7;
    }
}
.myPosts {
    font-size: 30px;
    padding: 10px;
    font-weight: normal;
}